.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #ffc107;
  font-weight: bold;
}
.botonenviar{

  background: #ff0000;
  cursor: pointer;
  border:none;
  padding:20px 20px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}
